{% extends "base.html" %}

{% block content  %}


<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
       {% if request.user !=  user %} 
      <a class="nav-link active" href="{% url 'friend_request' username=user.username   %}">Add to friend</a>
       
       {% endif %}
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
    

      <hr class="d-sm-none">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">


    {%for t in friend_list %}
    <form action="confirm/" method="post">
    {% csrf_token %}
    <input type="hidden" name="user1" value="{{t.user_from}}">
    <input type="hidden" name="user2" value="{{t.user_to}}">
    <p>{{t}}<input type="submit" value="confirm"></p>
    </form>
    {% endfor %}




    {% if request.user ==  user %} 
    <form action="." enctype="multipart/form-data" method="post">
     {%csrf_token%}
     {{post_form.as_p}}
     
     <p> <input type="submit" value="post"></p>
    </form>

    {%for post in posts %}
    {% if post.images%}
    <img src="{{post.images.url}}" > 
    {%endif%}
    {% if post.file%}
    <video width="320" height="240" controls>
    <source src="{{post.file}}" type="video/MKV"></video>
    {%endif%}
    <p>{{post.text}}</p><br><br>
    {% endfor %}    
    {% endif %}
    
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>
{% endblock %}