
<h1>
	Create an account
</h1>
<p>
	please sign up using the following
</p>

<form action="." method="post">
	
	{{ user_form.as_p }}
	{% csrf_token %}
<p><input type="submit" value="Register"> </p>
</form>